.bg-clients {
  background-image: url('/assets/bg-aleatorio6.webp');
  background-color: black;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .bg-clients {
    background-size: cover !important;
  }
}
