<div class="bg-home">
  <div class="container-children container d-flex flow-column align-items-center">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6">
        <div class="">
          <h1 class="text-base-group-title">
            <span class="display-3">{{ heroTitle }}</span> <br>
            <span class="display-2">{{heroSubTitle}}</span>
          </h1>
          <p class="mt-5 mt-lg-3 text-base-banner">
            {{ heroText }}
          </p>
        </div>
      </div>
      <div class="col-5 d-none d-lg-flex persona-home"><img
          src="/assets/hero-1.png" alt=""></div>
    </div>
  </div>

  <section
    class="bg-secondary bg-secondary-nossas-solucoes min-vh-100 d-flex align-items-center py-5 py-lg-5 text-black">
    <div class="container py-5 pt-lg-0">
      <h1 class="text-base-group-title">
        <span class="display-3">NOSSAS</span> <br>
        <span class="display-2">SOLUÇÕES</span>
      </h1>
      <h1 class="display-4 fw-bolder my-5 my-lg-0 mb-lg-5">
      </h1>

      <div class="row">
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <h2 class="text-uppercase fw-bold">Recepção</h2>
          <p class="fw-bold">
            Atender presencialmente na recepção de um estabelecimento ou por telefone e e-mail. Realizar agendamentos,
            fornecer informações e orientar a circulação de pessoas e visitantes, além de auxiliar na preparação de
            eventos e reuniões.</p>
        </div>
        <div class="col-12 col-lg-6 mb-5 mb-lg-0 ">
          <h2 class="text-uppercase fw-bold">Credenciamento</h2>
          <p class="fw-bold">Por meio de um roteiro de processos dividido em pelo menos três fases: Cadastro: realização
            do registro de nome, documento e outros dados pessoais, se necessário. Isso inclui o credenciamento e
            controle de acesso por meio de catracas, smartphones, totens, QR codes ou códigos de barras, além de outras
            plataformas totalmente digitais com tecnologia atualizada.</p>
        </div>
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <h2 class="text-uppercase fw-bold">Endomarketing</h2>
          <div class="fw-bold">
            O objetivo é aprimorar o ambiente e engajar os colaboradores, transformando cada profissional em um
            embaixador da marca. Esse conceito é conhecido como endomarketing ou marketing interno. Além disso, algumas
            ações comuns incluem:
            <ul>
              <li>Utilização de balões;</li>
              <li>Entrega de brindes (por exemplo, para conscientização do Dezembro Amarelo ou Outubro Rosa);</li>
              <li>Distribuição de impressos;</li>
              <li>Distribuição de folders.</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <h2 class="text-uppercase fw-bold">Controlador de acesso </h2>
          <p class="fw-bold">Essa profissão é essencial tanto para empresas do setor público quanto privado, pois envolve atividades como a restrição da presença de pessoas, controle de acesso e garantia da segurança em prédios, estabelecimentos comerciais, indústrias, condomínios e outros locais.          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-2 min-vh-100 d-flex align-items-center py-5 py-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <h1 class="display-4 fw-bolder mb-5 text-base-group-title " [innerHTML]="quemSomosTitle" style="line-height: .8; letter-spacing: -6px;">
          </h1>
          <p class="fw-bold">
            {{ quemSomosTexto }}
          </p>
          <div>
            <a class="btn btn-lg btn-secondary" routerLink="/quem-somos">
              SAIBA MAIS
            </a>
          </div>
        </div>

        <!-- <div class="col-12 col-lg-6 mt-5 mt-lg-0">
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/nTNaUHLakdo"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div> -->
      </div>
    </div>
  </section>

  <app-blog-section></app-blog-section>

  <app-clientes></app-clientes>

  <section class="py-5 position-relative py-lg-0 d-flex align-items-center bg-secondary text-dark bg-trabalhe-conosco">
    <div class="container py-5 mt-5">
      <div class="row py-5">
        <div class="col-12">
          <h1 class="text-base-group-title">
            <span class="display-3">TRABALHE</span><br>
            <span class="display-2">CONOSCO</span>
          </h1>
        </div>

        <div class="col-12 ">
          <div class="row">
            <div class="col-12 col-lg-7 fw-bold">
              <p>
                Preecha os campos abaixo, que entraremos em contato com você.
              </p>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="mb-3">
                    <label for="name" class="form-label" [(ngModel)]="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="José">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="mb-3">
                    <label for="mail" class="form-label">Assunto</label>
                    <input type="email" [(ngModel)]="subject" class="form-control" id="mail" placeholder="Assunto">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label for="msg" class="form-label">Mensagem</label>
                <textarea [(ngModel)]="message" class="form-control" name="" id="msg" rows="3"></textarea>
              </div>
              <div class="col-12 mt-3">
                <button (click)="openMailClient()" class="btn btn-primary">
                  ENVIAR
                </button>
              </div>
            </div>

            <div class="col-5 d-none d-lg-flex persona-contato">
              <img src="/assets/foto emy site - png.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="wpp-cta">
    <a href="https://wa.me/5511992342020" target="_blank">
      <img src="/assets/images/wpp-cta.png" alt="Chamar no WhatsApp" title="Chamar no WhatsApp">
    </a>
  </div>
</div>