$font-family-base: 'Poppins', sans-serif;
$body-color: rgba(255,255,255,.8);
$dark: #000;

$secondary: #58bb00;
$primary: #0a0400;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$input-bg: white;

$text-muted: rgba(255, 244, 240, 0.6);

$body-bg: #0a0400;
@import "../node_modules/bootstrap/scss/bootstrap";


@import '~@splidejs/splide/dist/css/splide.min.css';
@import '~@splidejs/splide/dist/css/themes/splide-default.min.css';


body {
  background-image: url("assets/foto site (3).png");
  background-position: center 102px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("assets/bg-hero2.webp");
    background-color: black;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@import "assets/animate";

.text-base-banner {
  font-size: 22px;
  font-weight: 400;
}

.text-base-group-title {
  span {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -6px;
  }
  span:nth-of-type(1) {
    line-height: 0;
  }
  span:nth-of-type(2) {
    line-height: 51px;
  }
}
@media screen and (max-width: 800px) {
  .text-base-group-title {
    span {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -4px;
    }
  }
}

.form-control {
  color: black !important;
}
